[Desktop Entry]
Type=Application
Terminal=false
Name=Bluetooth Reset
Icon=/home/tdcs/Bluetooth_fixer/btreset.png
Exec=/home/tdcs/Bluetooth_fixer/btcc.sh
Categories=Application;
Actions=remove-stim

[Desktop Action remove-stim]
Name=Remove Stimulation Device
Exec=/home/tdcs/Bluetooth_fixer/btrem.sh
